<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criteria</title>
</head>
<body>
     <h1 style="padding-left:550px;">It's quite great that you are eager to build a better society.</h1>
     <br>
     <h1  style="padding-left:400px;">Whether you meet the criteria or not we still appreciate your desire and passion.</h1>

     <br>

     <h2>The applicants who apply must :</h2>

     <div style="background-color:grey;">
         <h1>
              <ul>
                  <li> have already completed the year they wish to work in</li>
                  <li> have achieved high grades in their field of expertise and related subjects </li>
                  <li> pass the entrance test</li>
                  <li> get accepted by our accredited psychologist</li>
              </ul>
         </h1>
     </div>
     <h1> The procedure</h1>
     <ol>
         <li style="font-family:Arial ; font-weight:400;"> Our future peers have to initially have sign up on the <a href="http://127.0.0.1:8000/Sign_up_as_a_peer">peer's sign up page</a> where the report cards of the last two
         academic years should be uploaded.</li>
          <li  style="font-family:Arial ; font-weight:400;"> Following our coordinator's approval, the shortlisted candidates will be invited to an entrance exam where they will be assessed
          on their academic skills.</li>
          <li  style="font-family:Arial ; font-weight:400;"> In case of passing the minimum requirements, the accepted candidates will be invited to an interview with our accredited psychologist.</li>

     </ol>
     <h1> The prices for each peer will be estimated by our board of directors and discussed with the peer.
     <br>
     For younger tutors, volunteering is highly recommended for future university applications. </h1>

     <h1 style="font-family:Arial ; font-weight:400;"> In case of any question about the procedure, you are kindly advised to either
     send an email at <br> 'arash.khajavi.ghk123@gmial.com' <br> or inquire through our inquiry page. </h1>
</body>
</html>