{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'm.css' %}">
    <title>The UAE's Official Government Platform</title>
</head>
<body>
       <h1 style="color:#D7BC6D; padding-left:275px;">The United Arab Emirates' Government Platform</h1>

       <h2 style="color:#E6D7A2; padding-left:225px;"> The unified channel to transform how you live, work, visit and invest in the UAE</h2>
<!--     <div style="background-color:#C8A24B; color:#2E2E2E; margin-bottom:100px; height:230px; width:5000px; margin-left:20px;">-->
        <form action="" method="POST">
        <input style=" background-color:#DCC58A ;border-radius: 10px; height:25px;width:300px;padding-right: 0px;margin-left: 450px;" type="text" id="search" name="search">
            <br>
        <label for="search"></label>
        <input style='border-color:#FFFFFF; margin-left:560px; border-radius:6px; background-color:white; width:100px;' type="submit" value="Submit">
     </form>
<!--     </div>-->
     <div style="background-color:#DCC58A">
     <img  src="https://thumbnail.bertina.ir/api/v1/images/thumbnail/da39152793401967660fccd38285ab3944ba180617aea757a703734948a847d8">
     <img style=" padding-left:200px;" src="https://thumbnail.bertina.ir/api/v1/images/thumbnail/3c6ed837cc8f478796d682f8ed1e3688355cd02508850a8429356fc1e7a3c107">
     <img style="padding-left:150px;" src="https://thumbnail.bertina.ir/api/v1/images/thumbnail/7de701c4c9e23312f00d75d94b3bc00191e4e849ebbae653ebe3a4e26cb90858">
      </div>
<!--     <img style="height:300px;" src="https://cdn.asriran.com/files/fa/news/1404/1/10/2122727_997.jpg"> <h1 style="font:Arabic;  background-color:#006E4E;">In The name of-->
     Allah. <br> The most gracious and merciful.</h1>
     <h1><img src="https://thumbnail.bertina.ir/api/v1/images/original/8c5889aa3cc34306a8299980ab8c8316c3619b2eca7972afc10e33206503510a"></h1>
     <h1 style="color:black; font:Cairo ; background-color:#2E2E2E;">
         روح الوحدة
         Spirit of Unity
     </h1>
     <p style="color:">
         The United Arab Emirates is a beacon of progress, innovation, and cultural harmony. <br> Known for its remarkable architectural achievements, dynamic economy, and visionary leadership, the UAE has firmly established itself as a global hub for business, tourism, and technology. <br> The nation's citizens, alongside its diverse expatriate community, radiate hospitality, resilience, and ambition, creating an environment of mutual respect and cooperation. <br> The UAE's commitment to sustainability, tolerance, and modern development reflects its inspiring journey towards building a future-focused and inclusive society while preserving its rich heritage.
         <br>
     </p>

<!--     <p style="padding-left:700px" lang="ar">-->
<!--         دولة الإمارات العربية المتحدة هي رمز للتقدم والابتكار والوئام الثقافي.<br> بمشاريعها المعمارية الرائعة واقتصادها الديناميكي وقيادتها الرؤية، رسّخت الإمارات مكانتها كمركز عالمي للأعمال والسياحة والتكنولوجيا. يتميز مواطنوها، إلى جانب مجتمع الوافدين المتنوع، بالضيافة والقدرة على التكيف والطموح، مما يخلق بيئة تسودها روح الاحترام المتبادل والتعاون. يعكس التزام الإمارات بالاستدامة والتسامح والتطور الحديث رحلتها الملهمة نحو بناء مجتمع مستقبلي وشامل مع الحفاظ على تراثها-->

<!--     </p>-->

    <div class="A">{{ b|safe }}</div>




</body>
</html>