.sales {
  color:blue;
  text-align:center;
}

.warning {
  color:red;
  text-align:center;
}

.Laptop {
  height:200px;
  width:100px;
}

.main_div {
  height: 10px;
}

.submit {
  height: 10px;
  width: 15px;
  border:none;
}